{% extends 'partials/base.html' %}
{% block title %} Products Delete {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3">
                <h3>Edit Item </h3>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <a href="{% url 'dashboard-product' %}" class="btn btn-secondary"> Cancel </a>
                <input class="btn btn-danger" type="submit" value="Update">
            </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}